{% extends "layout.njk" %}

{% block content %}
<main>
    <h1>{{ title }}</h1>
    <form action="/greeting" method="GET">
        <input type="text" name="name" placeholder="Enter your name..">
        <button type="submit">Skicka</button>
    </form>
</main>

<h1>hello {{ name }}</h1>
{% endblock %}