<nav class="wrapper">
    <a href="/">Hem</a>
    <ul>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/greeting">Test greeting</a></li>
        <li><a href="/movies">Movie list</a></li>
    </ul>
</nav>